

.navbar{
    list-style: none;
    font-family:'Fjalla One', sans-serif;
}

header{
    font-family:'Fjalla One', sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.intro h1{
  color: #3bbce1;
  font-family:'Fjalla One', sans-serif;
}

.navbar li a{
    text-decoration: none;
    color:black;
}

.navbar li a:hover{
  color: #3bbce1;
}

.illustration h1{
    font-family:'Cabin', sans-serif;
    
    
}

.illustration h3{
    color: #3bbce1;
   
}


.backwallpaper{
    background-image: url(https://www.cliniquedentairegardus.com/images/header_home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    font-family:'Cabin', sans-serif;
}

.backwallpaper h1{
    font-family:'Fjalla One', sans-serif;
    font-size: 70px;
}

.welcome{
    height:60vh;
}

.illustration{
    margin-top: 200px;
    margin-bottom: 150px;
}

.illustration h1{
    font-family:'Fjalla One', sans-serif;
    
}

.illustration h1{
    font-family:'Fjalla One', sans-serif;
    
}

.illustration img{
    width: 100%;
}

button{
    width:40%;
    border: transparent;
    background-color:#3bbce1 ;
    color: white;
    padding:10px;
}

.footlist li{
    list-style-type: none;
    text-decoration: none;
}

.footlist li a{
  text-decoration: none;
  color: black;
}


.footlist li a:hover{
  color:#ed5ea3;
}




